.infopage {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(212, 212, 212);
}

.infopage::-webkit-scrollbar {
    display: none;
}

.starting_info {
    margin: 20px 25px;
    width: 45%;
}

.starting_info p {
    font-size: 1rem;
    font-weight: 500;
    white-space: pre-wrap;
}

.fullcircle {
    position: absolute;
    left: 53%;
    top: 20%;
    height: 566px;
    width: 566px;
    animation: rotate-animation 10s linear infinite;
}

.fullcircle img {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 134px;
    top: 140px;
    animation: rotate-animation 10s linear infinite;
    animation-direction: reverse;
}

.circles {
    position: absolute;
    height: 99px;
    width: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(145, 63, 63);
    border-radius: 50%;
    animation: rotate-animation 10s linear infinite;
    animation-direction: reverse;
}

.circles:nth-child(1) {
    left: 234px;
    top: 22px;
}

.circles:nth-child(2) {
    left: 384px;
    top: 84px;
}

.circles:nth-child(3) {
    left: 446px;
    top: 234px;
}

.circles:nth-child(4) {
    left: 384px;
    top: 384px;
}

.circles:nth-child(5) {
    left: 234px;
    top: 446px;
}

.circles:nth-child(6) {
    left: 84px;
    top: 384px;
}

.circles:nth-child(7) {
    left: 22px;
    top: 234px;
}

.circles:nth-child(8) {
    left: 84px;
    top: 84px;
}

.circles p {
    font-size: 1rem;
    font-weight: 900;
    color: white;
}



@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:720px) {
    .infopage {
        display: flex;
        flex-direction: column;
    }
    .infopage .starting_info {
        width: 85%;
    }
    .fullcircle {
        position: relative;
        left: -8%;

    }
}