body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container:hover .top:before,
.container:hover .top:after,
.container:hover .bottom:before,
.container:hover .bottom:after,
.container:active .top:before,
.container:active .top:after,
.container:active .bottom:before,
.container:active .bottom:after {
  margin-left: 200px;
  transform-origin: -200px 50%;
  transition-delay: 0s;
}

.container:hover .center,
.container:active .center {
  opacity: 1;
  transition-delay: 0.2s;
}

.top:before,
.top:after,
.bottom:before,
.bottom:after {
  content: "";
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  transition-delay: 0.2s;
}

.top:before {
  transform: rotate(45deg);
  background: #e46569;
}

.top:after {
  transform: rotate(135deg);
  background: #ecaf81;
}

.bottom:before {
  transform: rotate(-45deg);
  background: #60b8d4;
}

.bottom:after {
  transform: rotate(-135deg);
  background: #3745b5;
}

.center button {
  padding: 10px 30px;
  border-radius: 10px;
}

.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #333;
  z-index: 100;
}

.admin {
  background-color: #3745b5;
  min-height: 100vh;
}

.admin h1 {
  color: white;
}

.center input {
  width: 100%;
  padding: 15px;
  margin: 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.admin nav {
  padding: 25px 5px;
}

.admin ul {
  display: flex;
  justify-content: space-evenly;
}

.admin nav a {
  color: white;
}

.admin_container {
  padding: 10px 25%;
}


.form_card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 350px;
}

.form_card_big {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 720px;
  display: flex;
  gap: 50px;
}

.form_card_big .sec {
  width: 50%;
}


.admin h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}


label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

select option {
  background-color: #2a5298;
  color: #fff;
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  transition:  0.3s;
}

button:hover {
  background: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
}